.col{
    background-color: rgb(48, 159, 233);
    height: 200px;
    width: 400px;
    padding: 10px;
    border: 10px;
    margin: 20px;
    border-color: black;
    border-radius: 20px;
    transition-duration: 2s;
}
#kindofnav{
    height: 25px;
    background-color:whitesmoke;
    margin-bottom: 30px;
    padding-bottom: 0px;
    padding-top: 0px;
}
